* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

#momentum {
    width: 100vw;
    min-width: 1400px;
    height: 100vh;
    min-height: 960px;
    padding: 20px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

#logout-btn > span {
    cursor: pointer;
}

#weather {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#container {
    padding: 10px;
    text-align: center;
}

#clock {
    font-size: 9rem;
    letter-spacing: -5px;
    line-height: 7.5rem;
}

#login-form {
    margin-top: 30px;
}

#login-form > input[type="text"] {
    width: 400px;
    height: 40px;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 2.5rem;
}

#login-form > input[type="text"]::placeholder {
    color: inherit;
    text-align: center;
    font-size: 2rem;
}

#login-form > input[type="submit"] {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: 2rem;
}

#login-form > input[type="text"]:focus::placeholder {
    color: transparent;
}

#login-form > input[type="text"]:focus {
    outline: none;
}

#greeting {
    font-size: 6rem;
    font-weight: 500;
}

#todo-form > input {
    width: 500px;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

#todo-form > input::placeholder {
    color: inherit;
    text-align: center;
    font-size: 1.25rem;
}

#todo-form > input:focus::placeholder {
    color: transparent;
}

#todo-form > input:focus {
    outline: none;
}

#todo-list-container {
    width: 300px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    transform: translateY(20px);
    transition-duration: 1s;
    position: absolute;
    right: 20px;
    bottom: 80px;
    opacity: 0;
    z-index: 2;
}

#todo-list-wrap {
    padding: 10px;
}

#todo-list-wrap > p {
    font-size: 1.25rem;
    height: 30px;
    line-height: 30px;
}

#todo-list {
    margin-top: 10px;
}

#todo-list > li {
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#todo-list button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}

footer {
    text-align: right;
    font-size: 1.25rem;
}

#quote {
    text-align: center;
}

#todo-btn {
    float: right;
    cursor: pointer;
    opacity: 0.7;
}

#todo-btn:hover {
    opacity: 1;
}

#checkbox {
    display: none;
}

#todo-btn:has(input:checked) ~ #todo-list-container {
    height: 300px;
    transform: translateY(0);
    opacity: 1;
}